<!DOCTYPE HTML>
<HTML>
<head>
<style>

body {
	background-color: rgb(170,160,160);
}

div {
	background-color: rgb(140,140,140);
	height: 100%;
	width: 1475px;
	float: center;
}

table {
	width: 80%; 
	font-size: 30px; 
	color: rgb(255, 255, 255); 
	line-height: 100px;
}

td {
	float: center;
	text-align: center;
}

h1 {
	font-size: 50px;
	color: rgb(255,255,255);
}

</style>

<title>Home</title>
</head>

<body>
<center>
<div id="content">	
		<h1>Movie Tracker</h1>
	<table>
		<tr>
			<td>
				<img src="images/computer.png" height="300" width="200">
				<h6>Frozen 2</h6>
				<h6>genre</h6>
			</td>
			<td>
				<img src="images/computer.png" height="300" width="200">
				<h6>The Hobbit</h6>
				<h6>genre</h6>
			</td> 
			<td>
				<img src="images/computer.png" height="300" width="200">
				<h6>It</h6>
				<h6>genre</h6>
			</td>
			<td>
				<img src="images/computer.png" height="300" width="200">
				<h6>Romeo + Juliet</h6>
				<h6>genre</h6>	
			</td>
			<td>
				<img src="images/computer.png" height="300" width="200">
				<h6>Spiderman</h6>
				<h6>genre</h6>	
			</td>
		</tr>
		<tr>
			<td>
				<img src="images/computer.png" height="300" width="200">
				<h6>Frozen 2</h6>
				<h6>genre</h6>
			</td>
			<td>
				<img src="images/computer.png" height="300" width="200">
				<h6>The Hobbit</h6>
				<h6>genre</h6>
			</td> 
			<td>
				<img src="images/computer.png" height="300" width="200">
				<h6>It</h6>
				<h6>genre</h6>
			</td>
			<td>
				<img src="images/computer.png" height="300" width="200">
				<h6>Romeo + Juliet</h6>
				<h6>genre</h6>	
			</td>
			<td>
				<img src="images/computer.png" height="300" width="200">
				<h6>Spiderman</h6>
				<h6>genre</h6>	
			</td>
		</tr>	
	</table>
</div>
</center>
</body>
</html>